<html>
<head>
<title>Form Demo</title>
</head>
<body>
<h1>Form Demo</h1>
{#
   Note the use of url_for() in the action attribute to generate the URL
   for the application function which will process the form data.  Use
   the POST method to securely send the form data.
#}
<form action="{{ url_for('process') }}" method="POST">
    <table>
{% if session['name'] != '' %}
        <tr>
            <td></td>
            <td>Hello {{ session['name'] }}!</td>
        </tr>
{% endif %}
        <tr>
            <td>Name: </td>
{#
   Form input element name attributes will be the keys in the application's
   request.form dict.  For text input, the value will be the text typed in
   to the input element.
#}
            <td><input type="text" name="name" autofocus></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="button" value="submit"></td>
         </tr>
         <tr>
            <td></td>
            <td><input type="submit" name="button" value="reset"></td>
        </tr>
    </table>
</form>
</body>
</html>
