<html>
<head>
<title>Demo Database Access Tool</title>
</head>
<body>

Hello, {{ user }}<br>

{#
    Jinja allows template inheritance.  This is a parent template.  It is
    usable as is.  See result.html for an example of a child template.

    A template may contain multiple named blocks.

    See the Jinja documentation for details.
#}

{% block result %}
{% endblock %}
<p>
Tables: Student, Transcript, Users.<br>
Attributes of Student: Id, Name, Address, Status.<br>
Attributes of Transcript: StuId, CrsCode, Semester, Grade.<br>
Attributes of Users: Username, Password.<br>
<form method=post action="{{ url_for('query') }}">
SQL query:&nbsp;<input type=text size=70 name=query autofocus><br>
<input type=submit value="Run Query">
</form>
<p>
<a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
