<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Success</title>
  </head>
  <body>
    <h1>Success!</h1>
    Hello {{ user }}!
  <form action="{{ url_for('logout') }}">
    <input type="submit" value="Log Out">
  </form>

  {% if user_type == 1 %}
  <form action="{{ url_for('registration', user=session['user']) }}">
    <input type="submit" value="Register an Event">
  </form>
  {% else %}
  <p>Not a member of any club, therefore cannot register for any events.</p>
  {% endif %}

  {% if not current_events and not past_events %}
  <p>You have no upcoming events.</p>
  {% else %}
  <h4>Upcoming Events:</h4>
  {% for i in current_events %}
  <p> {{ i }} </p>
  {% endfor %}
  <h4>Past Events:</h4>
  {% for i in past_events %}
  <p> {{ i }} </p>
  {% endfor %}
  {% endif %}

  <form action="{{ url_for('homepage', user=session['user']) }}">
    <input type="submit" value="Home Page">
  </form>

  </body>
</html>
