<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <form action="{{ url_for('test') }}" method="POST">
      <table id="login"> 
        <tr>
          <td>User: </td>
          <td><input type="text" name="user" autofocus></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" name="passwd"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Login"></td>
        </tr>
      </table>
    </form>
    {{ output }}
  </body>
</html>
